* {
    margin: 0;
    padding: 0;
}
html {
    font-family: "Figtree", sans-serif;
}
body {
    background-color: #121212;
    color: #ffffff;
    font-family: "Figtree", sans-serif;
}
.navbar {
    background-color: #1c1c1c;
    padding: 10px 20px;
}
.navbar-nav {
    flex-direction: column;
}
@media (min-width: 992px) {
    .navbar-nav {
        flex-direction: row;
    }
}
.navbar-toggler {
    border: none;
}

.card {
    background-color: #1e1e1e;
    color: #ffffff;
}
.carousel-control-prev, .carousel-control-next {
    width: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-control-prev {
    left: -60px;
}
.carousel-control-next {
    right: -60px;
}